# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")

### Step 4. Which continent drinks more beer on average?

In [18]:
mostbeer = drinks.groupby("country").mean()
mostbeer[mostbeer.beer_servings == mostbeer["beer_servings"].max()]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,,,,
Namibia,376,3,1,6.8

### Step 5. For each continent print the statistics for wine consumption.

In [28]:
continents = drinks.groupby("continent")
continents["wine_servings"].mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [29]:
continents["total_litres_of_pure_alcohol"].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [30]:
continents.mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [31]:
continents["total_litres_of_pure_alcohol"].describe()

           count      mean       std  min   25%    50%     75%   max
continent
AF          53.0  3.007547  2.647557  0.0  0.70   2.30   4.700   9.1
AS          44.0  2.170455  2.770239  0.0  0.10   1.20   2.425  11.5
EU          45.0  8.617778  3.358455  0.0  6.60  10.00  10.900  14.4
OC          16.0  3.381250  3.345688  0.0  1.00   1.75   6.150  10.4
SA          12.0  6.308333  1.531166  3.8  5.25   6.85   7.375   8.3